@import url('https://fonts.googleapis.com/css?family=Amatic+SC|Satisfy');
$font1: 'Amatic SC', sans-serif;
$font3: 'Satisfy', cursive;
$paragraph-size: 2em;
$salmon-color: #d4737e;
$blue-color: #0d5ba6;
$bigger-h3: 3em;



@font-face {
  font-family: 'mywebfont', script;
  src: url('webfont.eot'); /* IE9 Compat Modes */
  src: url('webfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('webfont.woff2') format('woff2'), /* Super Modern Browsers */
       url('webfont.woff') format('woff'), /* Pretty Modern Browsers */
       url('webfont.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('webfont.svg#svgFontName') format('svg'); /* Legacy iOS */

		 }

 @keyframes movebubble {
         from {top: 2000px;}
         to {top: -5px;}
     }

 @-webkit-keyframes sideWays {
         0% {
             margin-left:-2px;
         }
         100% {
             margin-left:280px;
         }
     }

     /*annimation*/
     .extra2 {
       -webkit-animation: movebubble 25s linear infinite, sideWays 5s ease-in-out infinite alternate;
       -moz-animation: movebubble 25s linear infinite, sideWays 5s ease-in-out infinite alternate;
       animation: movebubble 25s linear infinite, sideWays 5s ease-in-out infinite alternate;
       left: 5%;
       top: 90%;
       -webkit-transform: translate3d(-5%, -5%, 0) scale(1.6) rotate(0.001deg);
       -moz-transform: translate3d(-5%, -5%, 0) scale(1.6) rotate(0.001deg);
       transform: translate3d(-5%, -5%, 0) scale(1.6) rotate(0.001deg); }

     .extra3 {
       -webkit-animation: movebubbles 15s linear infinite, sideWays 20s ease-in-out infinite alternate;
       -moz-animation: movebubbles 15s linear infinite, sideWays 20s ease-in-out infinite alternate;
       animation: movebubbles 15s linear infinite, sideWays 20s ease-in-out infinite alternate;
       left: 70%;
       top: 96%;
       -webkit-transform: translate3d(-5%, -5%, 0) scale(2.3) rotate(0.001deg);
       -moz-transform: translate3d(-5%, -5%, 0) scale(2.3) rotate(0.001deg);
       transform: translate3d(-5%, -5%, 0) scale(2.3) rotate(0.001deg); }

     .extra4 {
       -webkit-animation: movebubble 6s linear infinite, sideWays 10s ease-in-out infinite alternate;
       -moz-animation: movebubble 6s linear infinite, sideWays 10s ease-in-out infinite alternate;
       animation: movebubble 6s linear infinite, sideWays 10s ease-in-out infinite alternate;
       left: 40%;
       top: 40%;
       -webkit-transform: translate3d(-5%, -5%, 0) scale(0.7) rotate(0.001deg);
       -moz-transform: translate3d(-5%, -5%, 0) scale(0.7) rotate(0.001deg);
       transform: translate3d(-5%, -5%, 0) scale(0.7) rotate(0.001deg); }

     .extra5 {
       -webkit-animation: movebubble 10s linear infinite, sideWays 8s ease-in-out infinite alternate;
       -moz-animation: movebubble 10s linear infinite, sideWays 8s ease-in-out infinite alternate;
       animation: movebubble 10s linear infinite, sideWays 8s ease-in-out infinite alternate;
       left: 75%;
       top: 20;
       -webkit-transform: translate3d(-5%, -5%, 0) scale(0.9) rotate(0.001deg);
       -moz-transform: translate3d(-5%, -5%, 0) scale(0.9) rotate(0.001deg);
       transform: translate3d(-5%, -5%, 0) scale(0.9) rotate(0.001deg); }

     /* Bubbles */
     .extra2, .extra3, .extra4, .extra5  {
       -webkit-border-radius: 50%;
     	-moz-border-radius: 50%;
     	border-radius: 50%;

         -webkit-box-shadow: 0 20px 30px rgba(0, 0, 0, 0.2), inset 0px 10px 30px 5px rgba(255, 255, 255, 1);
     	-moz-box-shadow: 0 20px 30px rgba(0, 0, 0, 0.2), inset 0px 10px 30px 5px rgba(255, 255, 255, 1);
     	box-shadow: 0 20px 30px rgba(0, 0, 0, 0.2), inset 0px 10px 30px 5px rgba(255, 255, 255, 1);

         height: 100px;
     	position:absolute;
     	width: 100px;
      animation: movebubble 15s infinate  ease-in-out;
       -webkit-animation: movebubble 15s infinate  ease-in-out;
       -o-animation: movebubble 15s infinate ease-in-out;
         -moz-animation: movebubble 15s infinate ease-in-out; }

/* basic elements */
html {

	}

body {
	height: 100%;
	font: 75% $font1;
	line-height: 1.5;
	background: rgba(10,10,10,0.44);
		background: -moz-linear-gradient(top, rgba(10,10,10,0.44) 0%, rgba(58,58,59,0.65) 31%, rgba(145,145,145,0.84) 64%, rgba(148,148,148,0.85) 65%, rgba(249,251,252,1) 100%);
		background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(10,10,10,0.44)), color-stop(31%, rgba(58,58,59,0.65)), color-stop(64%, rgba(145,145,145,0.84)), color-stop(65%, rgba(148,148,148,0.85)), color-stop(100%, rgba(249,251,252,1)));
		background: -webkit-linear-gradient(top, rgba(10,10,10,0.44) 0%, rgba(58,58,59,0.65) 31%, rgba(145,145,145,0.84) 64%, rgba(148,148,148,0.85) 65%, rgba(249,251,252,1) 100%);
		background: -o-linear-gradient(top, rgba(10,10,10,0.44) 0%, rgba(58,58,59,0.65) 31%, rgba(145,145,145,0.84) 64%, rgba(148,148,148,0.85) 65%, rgba(249,251,252,1) 100%);
		background: -ms-linear-gradient(top, rgba(10,10,10,0.44) 0%, rgba(58,58,59,0.65) 31%, rgba(145,145,145,0.84) 64%, rgba(148,148,148,0.85) 65%, rgba(249,251,252,1) 100%);
		background: linear-gradient(to bottom, rgba(10,10,10,0.44) 0%, rgba(58,58,59,0.65) 31%, rgba(145,145,145,0.84) 64%, rgba(148,148,148,0.85) 65%, rgba(249,251,252,1) 100%);
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0a0a0a', endColorstr='#f9fbfc', GradientType=0 );
	background-image: url('colorful_fish_underwater.jpg');
	}

body, .page-wrapper{
	background-image: url('colorful_fish_underwater.jpg');
	height: 100%;
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	z-index: 5;}

p {
	margin-top: 0;
	text-align: left;
	font-family: $font1;
	font-weight: bold;
	font-size: $paragraph-size;
	}

header h1 {
	/*background: transparent url(http://csszengarden.com/001/h1.gif) no-repeat top left;*/
	font-family: $font3;
	font-weight: bold;
	text-align: center;
	font-size: 4em;
	color: $salmon-color;
	}

header h2 {
	//background: transparent url(http://csszengarden.com/001/h2.gif) no-repeat top left;
	font-family: $font1;
	font-size: 2.5em;
	color: #fff;
	}

h3 {
	font-family: $font1;
  font-size: $bigger-h3;
	font-weight: normal;
	letter-spacing: 1px;
	padding-top: 10px;
	padding-bottom: 10px;
	//color: #20f9f3;
	}

.preamble>h3{
	color: $blue-color;
	}

.explanation>h3{
	color: $blue-color;
	}

.participation>h3{
	color: $blue-color;
	}

.benefits>h3{
	color: $blue-color;
	}

.requirements>h3{
	color: $blue-color;
	}

header {

}

a:link {
	font-weight: bold;
	text-decoration: none;
	color: #B7A5DF;
	}

a:visited {
	font-weight: bold;
	text-decoration: none;
	color: #D4CDDC;
	}

a:hover, a:focus, a:active {
	text-decoration: underline;
	color: #fffc19;
	}

abbr {
	border-bottom: none;
	}


/* specific divs with grid */
.page-wrapper {
	position: relative;
	//max-width: 50vw;
	padding: 40px 0 0;
	text-align: center;
	box-shadow: 0 0 24px rgba(0,0,0,0.3);

     //  background  gradient
	background: rgba(133,247,255,.8);
	background: -moz-linear-gradient(top, rgba(133,247,255,.5) 0%, rgba(168,220,255,.5) 0%, rgba(71,212,255,.5) 26%, rgba(87,134,255,.5) 63%, rgba(92,100,255,.5) 100%);
	background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(133,247,255,.5)), color-stop(0%, rgba(168,220,255,.5)), color-stop(26%, rgba(71,212,255,.5)), color-stop(63%, rgba(87,134,255,.5)), color-stop(100%, rgba(92,100,255,.5)));
	background: -webkit-linear-gradient(top, rgba(133,247,255,.5) 0%, rgba(168,220,255,.5) 0%, rgba(71,212,255,.5) 26%, rgba(87,134,255,.5) 63%, rgba(92,100,255,.5) 100%);
	background: -o-linear-gradient(top, rgba(133,247,255,.5) 0%, rgba(168,220,255,.5) 0%, rgba(71,212,255,.5) 26%, rgba(87,134,255,.5) 63%, rgba(92,100,255,.5) 100%);
	background: -ms-linear-gradient(top, rgba(133,247,255,.5) 0%, rgba(168,220,255,.5) 0%, rgba(71,212,255,.5) 26%, rgba(87,134,255,.5) 63%, rgba(92,100,255,.5) 100%);
	background: linear-gradient(to bottom, rgba(133,247,255,.5) 0%, rgba(168,220,255,.5) 0%, rgba(71,212,255,.5) 26%, rgba(87,134,255,.5) 63%, rgba(92,100,255,.5) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#85f7ff', endColorstr='#5c64ff', GradientType=0 );

	z-index: 6;
	margin: -10px auto auto auto;
	display: grid;
	/*height: 10px;*/
	height: 120%;
	width: 100%;
	grid-template-columns: fit (60%);
	grid-template-rows: fit(40%);
	grid-gap:60px;
	grid-template-areas:
//grid layout each word and dot counts as a colum/row
//". . . . . .      . ."
". intro 			intro 			intro 			intro 			intro 			intro 			."
". supporting supporting 	supporting 	supporting 	supporting 	supporting 	."
". sidebar 		sidebar    	sidebar    	sidebar    	sidebar    	sidebar 		."
". .    .       .     .     .       . 	."

	}

.intro {
	grid-area: intro;

	}



.summary {


	}
.summary p {
	font: $paragraph-size $font1;

	}

.preamble {

	}

.supporting  {
	grid-area: supporting;
	}

.explanation{

	}

.participation{

	}
.benefits{


	}
.requirements{

	}

*{

}

footer {
  margin-bottom: -75vh;
  margin-top: 75vh;
  margin-left: -21px;
  margin-right: -22px;
  background-color: whitesmoke;
  color:gray;
  all: revert;

}

footer a:link, footer a:visited {
  text-decoration: none;
	margin-right: 20px;
	font-size: 2em;
	}


.sidebar {
	grid-area: sidebar;
	}

.sidebar .wrapper {
	font-family: $font1;
	background: transparent url() top left repeat-y;

	}

.sidebar h3{
  color: #0d5ba6;
  background-color: whitesmoke;
	}
.sidebar h3.select {
	background: transparent url() no-repeat top left;

	}
.sidebar h3.archives {
	background: transparent url() no-repeat top left;

	}
.sidebar h3.resources {
	background: transparent url() no-repeat top left;

	}


.sidebar ul {
	list-style-type: none;
  text-align: center;
	}

.sidebar li {
	line-height: 1.3em;
	background: transparent url() no-repeat top center;
	font-size: 1.4em;
  text-align: center;
	}

.sidebar li a:link {
	color: #fffcf6;
  text-decoration: none;
	}
  .sidebar a:hover{
    font-size: 1.5em;
    color:#d4737e;
  }

.sidebar li a:visited {
	color: #ffb532;
  text-decoration: none;
	}


.extra1 {
	background: transparent url() top left no-repeat;

	}

  /* phone screen*/
@media only screen and (max-width: 535px){
  .page-wrapper{
    max-width: 80vw;
    }
    footer {
      margin-bottom: -175vh;
      margin-top: 75vh;
      color:gray;
      background-color: whitesmoke;
      text-decoration: none;

    }
  }

/*tablet screen*/
@media only screen and (min-width: 536px)and (max-width: 719px){
  .page-wrapper{
    max-width: 65vw;
    }
  .extra1{
  max-width: 17.5vw;
  float:left;
  }

  .extra2{
  max-width: 17.5vw;
  float: right;
  }
  }

/* All other screens */
@media only screen and (min-width: 720px){
  .page-wrapper{
  max-width: 50vw;
    }
  .extra1{
  max-width: 25vw;
  float:left;
  }

  .extra2{
  max-width: 25vw;
  float: right;
  }
  }

  @media only screen and (min-width: 721px)and (max-width: 1440px){
    footer {
      margin-bottom: -70vh;
      margin-top: 75vh;
      background-color: whitesmoke;
      color: gray;
      text-decoration: none;

    }
  }

  @media only screen and (min-width: 1441px){
    footer {
      margin-bottom: -75vh;
      margin-top: 75vh;
      background-color: whitesmoke;
      color: gray;
      text-decoration: none;

    }
  }
