@font-face {
  font-family: 'mywebfont', script;
  src: url("webfont.eot");
  /* IE9 Compat Modes */
  src: url("webfont.eot?#iefix") format("embedded-opentype"), url("webfont.woff2") format("woff2"), url("webfont.woff") format("woff"), url("webfont.ttf") format("truetype"), url("webfont.svg#svgFontName") format("svg");
  /* Legacy iOS */ }
/* phone screen*/
@media only screen and (max-width: 535px) {
  .page-wrapper {
    max-width: 80vw; } }
/*tablet screen*/
@media only screen and (min-width: 536px) and (max-width: 719px) {
  .page-wrapper {
    max-width: 65vw; } }
/* All other screens */
@media only screen and (min-width: 720px) {
  .page-wrapper {
    max-width: 50vw; } }
/* basic elements */
body {
  height: 100%;
  font: 75% helvetica, serif, sans-serif;
  line-height: 1.5;
  background: rgba(10, 10, 10, 0.44);
  background: -moz-linear-gradient(top, rgba(10, 10, 10, 0.44) 0%, rgba(58, 58, 59, 0.65) 31%, rgba(145, 145, 145, 0.84) 64%, rgba(148, 148, 148, 0.85) 65%, #f9fbfc 100%);
  background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(10, 10, 10, 0.44)), color-stop(31%, rgba(58, 58, 59, 0.65)), color-stop(64%, rgba(145, 145, 145, 0.84)), color-stop(65%, rgba(148, 148, 148, 0.85)), color-stop(100%, #f9fbfc));
  background: -webkit-linear-gradient(top, rgba(10, 10, 10, 0.44) 0%, rgba(58, 58, 59, 0.65) 31%, rgba(145, 145, 145, 0.84) 64%, rgba(148, 148, 148, 0.85) 65%, #f9fbfc 100%);
  background: -o-linear-gradient(top, rgba(10, 10, 10, 0.44) 0%, rgba(58, 58, 59, 0.65) 31%, rgba(145, 145, 145, 0.84) 64%, rgba(148, 148, 148, 0.85) 65%, #f9fbfc 100%);
  background: -ms-linear-gradient(top, rgba(10, 10, 10, 0.44) 0%, rgba(58, 58, 59, 0.65) 31%, rgba(145, 145, 145, 0.84) 64%, rgba(148, 148, 148, 0.85) 65%, #f9fbfc 100%);
  background: linear-gradient(to bottom, rgba(10, 10, 10, 0.44) 0%, rgba(58, 58, 59, 0.65) 31%, rgba(145, 145, 145, 0.84) 64%, rgba(148, 148, 148, 0.85) 65%, #f9fbfc 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0a0a0a', endColorstr='#f9fbfc', GradientType=0 );
  background-image: url("colorful_fish_underwater.jpg"); }

body, .page-wrapper {
  background-image: url("colorful_fish_underwater.jpg");
  height: 100%;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: 5; }

p {
  margin-top: 0;
  text-align: left;
  font-family: verdana, sans-serif;
  font-weight: bold;
  font-size: 1.5em; }

header h1 {
  /*background: transparent url(http://csszengarden.com/001/h1.gif) no-repeat top left;*/
  font-family: "LUCIDA CALLIGRAPHY", sans-serif;
  font-weight: bold;
  text-align: center;
  font-size: 4em;
  color: #600319; }

header h2 {
  font-family: verdana, sans-serif;
  font-size: 2.5em;
  color: #fff; }

h3 {
  font: italic normal 2em helvetica, serif;
  font-weight: bold;
  letter-spacing: 1px;
  padding-top: 10px;
  padding-bottom: 10px; }

.preamble > h3 {
  color: #600319; }

.explanation > h3 {
  color: #73041e; }

.participation > h3 {
  color: #8a0424; }

.benefits > h3 {
  color: #990528; }

.requirements > h3 {
  color: #ad052d; }

a:link {
  font-weight: bold;
  text-decoration: none;
  color: #B7A5DF; }

a:visited {
  font-weight: bold;
  text-decoration: none;
  color: #D4CDDC; }

a:hover, a:focus, a:active {
  text-decoration: underline;
  color: #fffc19; }

abbr {
  border-bottom: none; }

/* specific divs with grid */
.page-wrapper {
  position: relative;
  padding: 40px 0 0;
  text-align: center;
  box-shadow: 0 0 24px rgba(0, 0, 0, 0.3);
  background: rgba(133, 247, 255, 0.8);
  background: -moz-linear-gradient(top, rgba(133, 247, 255, 0.5) 0%, rgba(168, 220, 255, 0.5) 0%, rgba(71, 212, 255, 0.5) 26%, rgba(87, 134, 255, 0.5) 63%, rgba(92, 100, 255, 0.5) 100%);
  background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(133, 247, 255, 0.5)), color-stop(0%, rgba(168, 220, 255, 0.5)), color-stop(26%, rgba(71, 212, 255, 0.5)), color-stop(63%, rgba(87, 134, 255, 0.5)), color-stop(100%, rgba(92, 100, 255, 0.5)));
  background: -webkit-linear-gradient(top, rgba(133, 247, 255, 0.5) 0%, rgba(168, 220, 255, 0.5) 0%, rgba(71, 212, 255, 0.5) 26%, rgba(87, 134, 255, 0.5) 63%, rgba(92, 100, 255, 0.5) 100%);
  background: -o-linear-gradient(top, rgba(133, 247, 255, 0.5) 0%, rgba(168, 220, 255, 0.5) 0%, rgba(71, 212, 255, 0.5) 26%, rgba(87, 134, 255, 0.5) 63%, rgba(92, 100, 255, 0.5) 100%);
  background: -ms-linear-gradient(top, rgba(133, 247, 255, 0.5) 0%, rgba(168, 220, 255, 0.5) 0%, rgba(71, 212, 255, 0.5) 26%, rgba(87, 134, 255, 0.5) 63%, rgba(92, 100, 255, 0.5) 100%);
  background: linear-gradient(to bottom, rgba(133, 247, 255, 0.5) 0%, rgba(168, 220, 255, 0.5) 0%, rgba(71, 212, 255, 0.5) 26%, rgba(87, 134, 255, 0.5) 63%, rgba(92, 100, 255, 0.5) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#85f7ff', endColorstr='#5c64ff', GradientType=0 );
  z-index: 6;
  margin: -10px auto auto auto;
  display: grid;
  /*height: 10px;*/
  height: 120%;
  width: 100%;
  grid-template-columns: fit 60%;
  grid-template-rows: fit(40%);
  grid-gap: 20px;
  grid-template-areas: ". intro 			intro 			intro 			intro 			intro 			intro 			." ". supporting supporting 	supporting 	supporting 	supporting 	supporting 	." ". sidebar 		sidebar    	sidebar    	sidebar    	sidebar    	sidebar 		." ". footer 		footer   		footer    	footer    	footer   		footer 			." ". . 		.   		.   	.    	.   		.		." ". . 		.   		.   	.    	.   		.		." ". . 		.   		.   	.    	.   		.		." ". . 		.   		.   	.    	.   		.		." ". . 		.   		.   	.    	.   		.		." ". . 		.   		.   	.    	.   		.		."; }

.intro {
  grid-area: intro; }

.summary p {
  font: italic 1.5em helvetica, serif; }

.supporting {
  grid-area: supporting; }

footer {
  margin-bottom: -75vh;
  margin-top: 75vh;
  margin-left: -21px;
  margin-right: -22px;
  background-color: blue;
  all: revert; }

footer a:link, footer a:visited {
  margin-right: 20px;
  font-size: 2em; }

.sidebar {
  grid-area: sidebar; }

.sidebar .wrapper {
  font: 10px verdana, sans-serif;
  background: transparent url() top left repeat-y; }

.sidebar h3 {
  color: #fff39b; }

.sidebar h3.select {
  background: transparent url() no-repeat top left; }

.sidebar h3.archives {
  background: transparent url() no-repeat top left; }

.sidebar h3.resources {
  background: transparent url() no-repeat top left; }

.sidebar ul {
  list-style-type: none; }

.sidebar li {
  line-height: 1.3em;
  background: transparent url() no-repeat top center;
  font-size: 1.4em; }

.sidebar li a:link {
  color: #fffcf6; }

.sidebar li a:visited {
  color: #Bffb532; }

.extra1 {
  background: transparent url() top left no-repeat; }

/*# sourceMappingURL=style.css.map */
